body {
    margin: 0;
    background: #0a001a;
    color: #66e0ff;
    text-align: center;
    font-family: Arial, sans-serif;
}

.logo {
    font-size: 48px;
    margin-top: 40px;
    color: #8c5eff;
    text-shadow: 0px 0px 10px #a370ff, 0px 0px 25px #d7b8ff;
}

.button {
    display: inline-block;
    margin-top: 50px;
    padding: 15px 35px;
    color: black;
    background: #66e0ff;
    border-radius: 12px;
    font-size: 22px;
    text-decoration: none;
    transition: 0.3s;
}
.button:hover {
    transform: scale(1.1);
    background: #8c5eff;
    color: white;
}
